In [2]:
import pandas as pd
bond=pd.read_csv("jamesbond.csv", index_col="Film")
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [3]:
bond.loc["From Russia with Love", "Actor"]

'Sean Connery'

In [4]:
bond.loc["From Russia with Love", ["Actor","Director"]]

Actor        Sean Connery
Director    Terence Young
Name: From Russia with Love, dtype: object

In [7]:
bond.loc[["From Russia with Love", "Goldfinger"], ["Actor","Director"]]

                              Actor       Director
Film
From Russia with Love  Sean Connery  Terence Young
Goldfinger             Sean Connery   Guy Hamilton