In [13]:
import pandas as pd
worldstats=pd.read_csv("worldstats.csv", index_col=["country","year"])
worldstats.head()

                  Population           GDP
country    year
Arab World 2015  392022276.0  2.530102e+12
           2014  384222592.0  2.873600e+12
           2013  376504253.0  2.846994e+12
           2012  368802611.0  2.773270e+12
           2011  361031820.0  2.497945e+12

In [15]:
worldstats.stack()
type(worldstats.stack()
)

pandas.core.series.Series

In [19]:
worldstats.stack().to_frame().rename(mapper={0:"Value"}, axis=1)

                                   Value
country    year
Arab World 2015 Population  3.920223e+08
                GDP         2.530102e+12
           2014 Population  3.842226e+08
                GDP         2.873600e+12
           2013 Population  3.765043e+08
...                                  ...
Zimbabwe   1962 GDP         1.117602e+09
           1961 Population  3.876638e+06
                GDP         1.096647e+09
           1960 Population  3.752390e+06
                GDP         1.052990e+09

[22422 rows x 1 columns]