In [87]:
import pandas as pd
worldstats=pd.read_csv("worldstats.csv", index_col=["country","year"])
worldstats.head()

                  Population           GDP
country    year
Arab World 2015  392022276.0  2.530102e+12
           2014  384222592.0  2.873600e+12
           2013  376504253.0  2.846994e+12
           2012  368802611.0  2.773270e+12
           2011  361031820.0  2.497945e+12

In [88]:
worldstats.stack()
type(worldstats.stack()
)

pandas.core.series.Series

In [89]:
worldstats=worldstats.stack().to_frame().rename(mapper={0:"Value"}, axis=1)

In [90]:
worldstats.index.set_names("Col3", level=2, inplace=True)

In [91]:
worldstats.head()

                                   Value
country    year Col3
Arab World 2015 Population  3.920223e+08
                GDP         2.530102e+12
           2014 Population  3.842226e+08
                GDP         2.873600e+12
           2013 Population  3.765043e+08

In [94]:
worldstats.index.get_level_values(2).unique()

Index(['Population', 'GDP'], dtype='object', name='Col3')

In [82]:
worldstats=worldstats.unstack()
worldstats

                       Value
Col3              Population           GDP
country     year
Afghanistan 1960   8994793.0  5.377778e+08
            1961   9164945.0  5.488889e+08
            1962   9343772.0  5.466667e+08
            1963   9531555.0  7.511112e+08
            1964   9728645.0  8.000000e+08
...                      ...           ...
Zimbabwe    2011  14255592.0  1.095623e+10
            2012  14565482.0  1.239272e+10
            2013  14898092.0  1.349023e+10
            2014  15245855.0  1.419691e+10
            2015  15602751.0  1.389294e+10

[11211 rows x 2 columns]

In [83]:
worldstats.loc[("Afghanistan")]

           Value
Col3  Population           GDP
year
1960   8994793.0  5.377778e+08
1961   9164945.0  5.488889e+08
1962   9343772.0  5.466667e+08
1963   9531555.0  7.511112e+08
1964   9728645.0  8.000000e+08
1965   9935358.0  1.006667e+09
1966  10148841.0  1.400000e+09
1967  10368600.0  1.673333e+09
1968  10599790.0  1.373333e+09
1969  10849510.0  1.408889e+09
1970  11121097.0  1.748887e+09
1971  11412821.0  1.831109e+09
1972  11716896.0  1.595555e+09
1973  12022514.0  1.733333e+09
1974  12315553.0  2.155555e+09
1975  12582954.0  2.366667e+09
1976  12831361.0  2.555556e+09
1977  13056499.0  2.953333e+09
1978  13222547.0  3.300000e+09
1979  13283279.0  3.697940e+09
1980  13211412.0  3.641723e+09
1981  12996923.0  3.478788e+09
2001  20531160.0  2.461666e+09
2002  21487079.0  4.128818e+09
2003  22507368.0  4.583649e+09
2004  23499850.0  5.285462e+09
2005  24399948.0  6.275076e+09
2006  25183615.0  7.057598e+09
2007  25877544.0  9.843842e+09
2008  26528741.0  1.019053e+10
2009  27207291.0  1.248694e+10
2010  27962207.0  1.593680e+10
2011  28809167.0  1.793024e+10
2012  29726803.0  2.053654e+10
2013  30682500.0  2.004633e+10
2014  31627506.0  2.005019e+10
2015  32526562.0  1.919944e+10

In [84]:
worldstats.unstack()

                           Value                                            \
Col3                  Population
year                        1960          1961          1962          1963
country
Afghanistan         8.994793e+06  9.164945e+06  9.343772e+06  9.531555e+06
Albania                      NaN           NaN           NaN           NaN
Algeria             1.112489e+07  1.140486e+07  1.169015e+07  1.198513e+07
Andorra                      NaN           NaN           NaN           NaN
Angola                       NaN           NaN           NaN           NaN
...                          ...           ...           ...           ...
West Bank and Gaza           NaN           NaN           NaN           NaN
World               3.035056e+09  3.076121e+09  3.129064e+09  3.193947e+09
Yemen, Rep.                  NaN           NaN           NaN           NaN
Zambia              3.049586e+06  3.142848e+06  3.240664e+06  3.342894e+06
Zimbabwe            3.752390e+06  3.876638e+06  4.006262e+06  4.140804e+06

                                                                            \
Col3
year                        1964          1965          1966          1967
country
Afghanistan         9.728645e+06  9.935358e+06  1.014884e+07  1.036860e+07
Albania                      NaN           NaN           NaN           NaN
Algeria             1.229597e+07  1.262695e+07  1.298027e+07  1.335420e+07
Andorra                      NaN           NaN           NaN           NaN
Angola                       NaN           NaN           NaN           NaN
...                          ...           ...           ...           ...
West Bank and Gaza           NaN           NaN           NaN           NaN
World               3.259355e+09  3.326054e+09  3.395866e+09  3.465297e+09
Yemen, Rep.                  NaN           NaN           NaN           NaN
Zambia              3.449266e+06  3.559687e+06  3.674088e+06  3.792864e+06
Zimbabwe            4.279561e+06  4.422132e+06  4.568320e+06  4.718612e+06

                                                ...                \
Col3                                            ...           GDP
year                        1968          1969  ...          2006
country                                         ...
Afghanistan         1.059979e+07  1.084951e+07  ...  7.057598e+09
Albania                      NaN           NaN  ...  8.992642e+09
Algeria             1.374438e+07  1.414444e+07  ...  1.170273e+11
Andorra                      NaN           NaN  ...  3.536452e+09
Angola                       NaN           NaN  ...  4.178948e+10
...                          ...           ...  ...           ...
West Bank and Gaza           NaN           NaN  ...  4.910100e+09
World               3.535512e+09  3.609910e+09  ...  5.107451e+13
Yemen, Rep.                  NaN           NaN  ...  1.908173e+10
Zambia              3.916928e+06  4.047479e+06  ...  1.275686e+10
Zimbabwe            4.874113e+06  5.036321e+06  ...  5.443896e+09

                                                                            \
Col3
year                        2007          2008          2009          2010
country
Afghanistan         9.843842e+09  1.019053e+10  1.248694e+10  1.593680e+10
Albania             1.070101e+10  1.288135e+10  1.204421e+10  1.192695e+10
Algeria             1.349771e+11  1.710007e+11  1.372110e+11  1.612073e+11
Andorra             4.010785e+09  4.001349e+09  3.649863e+09  3.346317e+09
Angola              6.044892e+10  8.417803e+10  7.549238e+10  8.247091e+10
...                          ...           ...           ...           ...
West Bank and Gaza  5.505800e+09  6.673500e+09  7.268200e+09  8.913100e+09
World               5.758343e+13  6.312856e+13  5.983553e+13  6.564782e+13
Yemen, Rep.         2.563367e+10  3.039720e+10  2.845950e+10  3.090675e+10
Zambia              1.405696e+10  1.791086e+10  1.532834e+10  2.026555e+10
Zimbabwe            5.291950e+09  4.415703e+09  8.157077e+09  9.422161e+09

                                                                            \
Col3
year                        2011          2012          2013          2014
country
Afghanistan         1.793024e+10  2.053654e+10  2.004633e+10  2.005019e+10
Albania             1.289087e+10  1.231978e+10  1.278103e+10  1.327796e+10
Algeria             2.000131e+11  2.090474e+11  2.097035e+11  2.135185e+11
Andorra             3.427236e+09  3.146178e+09  3.249101e+09           NaN
Angola              1.041159e+11  1.153984e+11  1.249121e+11  1.267751e+11
...                          ...           ...           ...           ...
West Bank and Gaza  1.045985e+10  1.127940e+10  1.247600e+10  1.271560e+10
World               7.284314e+13  7.442836e+13  7.643132e+13  7.810634e+13
Yemen, Rep.         3.107886e+10  3.207477e+10  3.595450e+10           NaN
Zambia              2.345952e+10  2.550306e+10  2.804552e+10  2.713464e+10
Zimbabwe            1.095623e+10  1.239272e+10  1.349023e+10  1.419691e+10


Col3
year                        2015
country
Afghanistan         1.919944e+10
Albania             1.145560e+10
Algeria             1.668386e+11
Andorra                      NaN
Angola              1.026431e+11
...                          ...
West Bank and Gaza  1.267740e+10
World               7.343364e+13
Yemen, Rep.                  NaN
Zambia              2.120156e+10
Zimbabwe            1.389294e+10

[252 rows x 112 columns]

In [85]:
worldstats.loc[("Afghanistan")]

           Value
Col3  Population           GDP
year
1960   8994793.0  5.377778e+08
1961   9164945.0  5.488889e+08
1962   9343772.0  5.466667e+08
1963   9531555.0  7.511112e+08
1964   9728645.0  8.000000e+08
1965   9935358.0  1.006667e+09
1966  10148841.0  1.400000e+09
1967  10368600.0  1.673333e+09
1968  10599790.0  1.373333e+09
1969  10849510.0  1.408889e+09
1970  11121097.0  1.748887e+09
1971  11412821.0  1.831109e+09
1972  11716896.0  1.595555e+09
1973  12022514.0  1.733333e+09
1974  12315553.0  2.155555e+09
1975  12582954.0  2.366667e+09
1976  12831361.0  2.555556e+09
1977  13056499.0  2.953333e+09
1978  13222547.0  3.300000e+09
1979  13283279.0  3.697940e+09
1980  13211412.0  3.641723e+09
1981  12996923.0  3.478788e+09
2001  20531160.0  2.461666e+09
2002  21487079.0  4.128818e+09
2003  22507368.0  4.583649e+09
2004  23499850.0  5.285462e+09
2005  24399948.0  6.275076e+09
2006  25183615.0  7.057598e+09
2007  25877544.0  9.843842e+09
2008  26528741.0  1.019053e+10
2009  27207291.0  1.248694e+10
2010  27962207.0  1.593680e+10
2011  28809167.0  1.793024e+10
2012  29726803.0  2.053654e+10
2013  30682500.0  2.004633e+10
2014  31627506.0  2.005019e+10
2015  32526562.0  1.919944e+10