In [2]:
import pandas as pd
nba=pd.read_csv("nba.csv")

In [3]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [4]:
nba["Age"].value_counts()

24.0    47
25.0    45
27.0    41
23.0    41
26.0    36
28.0    31
30.0    31
29.0    28
22.0    26
31.0    22
21.0    19
20.0    19
33.0    14
32.0    13
36.0    10
34.0    10
35.0     9
38.0     4
37.0     4
40.0     3
39.0     2
19.0     2
Name: Age, dtype: int64

In [5]:
nba["Weight"].value_counts()

220.0    29
240.0    28
250.0    26
200.0    25
205.0    22
         ..
278.0     1
227.0     1
239.0     1
289.0     1
307.0     1
Name: Weight, Length: 87, dtype: int64