In [2]:
import pandas as pd
nba=pd.read_csv("nba.csv")

In [3]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [4]:
nba["Age"]

0      25.0
1      25.0
2      27.0
3      22.0
4      29.0
       ...
453    26.0
454    24.0
455    26.0
456    26.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [5]:
nba["Age"].add(5)

0      30.0
1      30.0
2      32.0
3      27.0
4      34.0
       ...
453    31.0
454    29.0
455    31.0
456    31.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [6]:
nba["Age"]+5

0      30.0
1      30.0
2      32.0
3      27.0
4      34.0
       ...
453    31.0
454    29.0
455    31.0
456    31.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [7]:
nba["Age"].sub(5)

0      20.0
1      20.0
2      22.0
3      17.0
4      24.0
       ...
453    21.0
454    19.0
455    21.0
456    21.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [8]:
nba["Age"]-5

0      20.0
1      20.0
2      22.0
3      17.0
4      24.0
       ...
453    21.0
454    19.0
455    21.0
456    21.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [11]:
nba["Weight"].mul(.45)
nba["Weight"]*.45

0       81.00
1      105.75
2       92.25
3       83.25
4      103.95
        ...
453     91.35
454     80.55
455    115.20
456    103.95
457       NaN
Name: Weight, Length: 458, dtype: float64

In [12]:
nba["kg"]=nba["Weight"]*.45

In [13]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,kg
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,81.00
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,105.75
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,92.25
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,83.25
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,103.95
...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,91.35
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,80.55
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,115.20
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,103.95
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
nba["Salary"].div(1000000)
nba["Salary"]/1000000

0      7.730337
1      6.796117
2           NaN
3      1.148640
4      5.000000
         ...
453    2.433333
454    0.900000
455    2.900000
456    0.947276
457         NaN
Name: Salary, Length: 458, dtype: float64