In [7]:
import pandas as pd
bond=pd.read_csv("jamesbond.csv", index_col="Film")
bond.head(10)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN

In [3]:
bond.loc["From Russia with Love", "Actor"]

'Sean Connery'

In [4]:
bond.loc["From Russia with Love", ["Actor","Director"]]

Actor        Sean Connery
Director    Terence Young
Name: From Russia with Love, dtype: object

In [5]:
bond.loc[["From Russia with Love", "Goldfinger"], ["Actor","Director"]]

                              Actor       Director
Film
From Russia with Love  Sean Connery  Terence Young
Goldfinger             Sean Connery   Guy Hamilton

In [14]:
bond.loc["From Russia with Love": "Moonraker", "Year" : "Budget"]

,Year,Actor,Director,Box Office,Budget
Film,,,,,
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5

In [16]:
bond.iloc[0:10,2:5]

                                      Director  Box Office  Budget
Film
Dr. No                           Terence Young       448.8     7.0
From Russia with Love            Terence Young       543.8    12.6
Goldfinger                        Guy Hamilton       820.4    18.6
Thunderball                      Terence Young       848.1    41.9
Casino Royale                       Ken Hughes       315.0    85.0
You Only Live Twice              Lewis Gilbert       514.2    59.9
On Her Majesty's Secret Service  Peter R. Hunt       291.5    37.3
Diamonds Are Forever              Guy Hamilton       442.5    34.7
Live and Let Die                  Guy Hamilton       460.3    30.8
The Man with the Golden Gun       Guy Hamilton       334.0    27.7