In [1]:
import pandas as pd
df=pd.read_csv("employees.csv", parse_dates=["Start Date","Last Login Time"])
df["Gender"]=df["Gender"].astype("category")
df["Senior Management"]=df["Senior Management"].astype("bool")
df.sort_values("First Name", inplace=True)
df.head(10)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
101,Aaron,Male,2012-02-17,2020-05-06 10:20:00,61602,11.849,True,Marketing
327,Aaron,Male,1994-01-29,2020-05-06 18:48:00,58755,5.097,True,Marketing
440,Aaron,Male,1990-07-22,2020-05-06 14:53:00,52119,11.343,True,Client Services
937,Aaron,NaN,1986-01-22,2020-05-06 19:39:00,63126,18.424,False,Client Services
137,Adam,Male,2011-05-21,2020-05-06 01:45:00,95327,15.120,False,Distribution
141,Adam,Male,1990-12-24,2020-05-06 20:57:00,110194,14.727,True,Product
302,Adam,Male,2007-07-05,2020-05-06 11:59:00,71276,5.027,True,Human Resources
538,Adam,Male,2010-10-08,2020-05-06 21:53:00,45181,3.491,False,Human Resources
300,Alan,Male,1988-06-26,2020-05-06 03:54:00,111786,3.592,True,Engineering
53,Alan,NaN,2014-03-03,2020-05-06 13:28:00,40341,17.578,True,Finance

In [4]:
df["Team"].unique()

array(['Marketing', 'Client Services', 'Distribution', 'Product',
       'Human Resources', 'Engineering', 'Finance',
       'Business Development', 'Sales', nan, 'Legal'], dtype=object)

In [5]:
len(df["Team"].unique())

11

In [7]:
df["Team"].nunique()

10

In [8]:
df["Team"].nunique(dropna=False)

11